
<h1 class="text-center my-4">Administration Dashboard</h1>

<div class="row text-dark">
  <div class="col-md-4">
    <div class="card bg-primary text-light h-100">
      <div class="card-body">
        <div class="icon mdi mdi-48px mdi-comment-question-outline"></div>
        <h4 class="card-title">{{ nbTotalQuestions ?? "524" }}</h4>
        <p>questions dans la base !</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card  bg-primary text-light h-100">
      <div class="card-body">
        <div class="icon mdi mdi-48px mdi-gamepad-variant-outline"></div>
        <h4 class="card-title">{{ nbTotalGames ?? "1247" }}</h4>
        <p>parties jouées !</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card  bg-primary text-light h-100">
      <div class="card-body">
        <div class="icon mdi mdi-48px mdi-account-outline"></div>
        <h4 class="card-title">{{ nbTotalUsers ?? "1247" }}</h4>
        <p>Joueurs dans la base !</p>
      </div>
    </div>
  </div>
</div>