<div class="container-md text-dark offset-xl-1 col-xl-10">
		<div id="test" class="addForm form p-3">
			<h1 class="text-center mt-4 text-light mb-4">Ajouter une question :</h1>
			<form form method="post" enctype="multipart/form-data">
			<div class="form-floating mb-3">
				<select class="form-select" aria-label="Default select example" name="theme" id="theme">
					<option selected disabled>Choississez le thème de la question</option>
					<option value="1">Thème 1</option>
					<option value="2">Thème 2</option>
					<option value="3">Thème 3</option>
				</select>
				<label for="theme">Thème</label>
			</div>
				<div class="form-floating mb-3">
				<textarea class="form-control" placeholder="Leave a comment here" id="question" name="question" required></textarea>
				<label for="question">Question</label>
			</div>
			<div class="form-floating mb-3">
				<input type="text" class="form-control" id="goodAnswer" name="goodAnswer" placeholder="Réponse correcte" required>
				<label for="goodAnswer">Réponse correcte</label>
			</div>
			<div class="form-floating mb-3">
				<input type="text" class="form-control" id="badAnswer1" name="badAnswer1" placeholder="Mauvaise Réponse N°1">
				<label for="badAnswer1">Mauvaise Réponse N°1</label>
			</div>
			<div class="form-floating mb-3">
				<input type="text" class="form-control" id="badAnswer2" name="badAnswer2" placeholder="Mauvaise Réponse N°2">
				<label for="badAnswer2">Mauvaise Réponse N°2</label>
			</div>
			<div class="form-floating mb-3">
				<input type="text" class="form-control" id="badAnswer3" name="badAnswer3" placeholder="Mauvaise Réponse N°3">
				<label for="badAnswer3">Mauvaise Réponse N°3</label>
			</div>
			<div class="mb-3">
				<label class="d-none" for="picture">Uploader une image</label>
				<input type="file" class="form-control form-control" id="picture" name="picture" placeholder="Insérer votre image ici" accept="image/*">
			</div>
			<div class="text-center">
				<button type="submit" class="btn submit-btn">
					<span>Valider</span>
				</button>
			</div>
		</div>

	</form>
</div>
