<span class="loupe mdi mdi-36px mdi-magnify text-dark"></span>
<form class="search text-dark">

    <div class="form-floating field">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label class="searchField" for="floatingPassword">Recherche</label>
    </div>

    <select class="form-select field">
        <option selected>Thème</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>

    <select class="form-select field">
        <option selected>Trier par :</option>
        <option value="1">A-Z croissant</option>
        <option value="2">A-Z croissant</option>
        <option value="3">Thème croissant</option>
        <option value="3">Thème décroissant</option>
    </select>

</form>