{% extends 'register_layout.html.twig' %}



{% block content %}

<h2>Connexion</h2>
<h3>Entrer vos identifiants</h3>
<form action="" method="POST">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="username" name="username" placeholder="name@example.com">
        <label for="username">Username</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <div>{{ errors.login }}</div>
    <div class="{{ display }}">Identification Réussie {{ loginInfos.username }}!</div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

{% endblock %}

