{% extends 'register_layout.html.twig' %}



{% block content %}

<h2>Connexion</h2>
<h3>Entrer vos identifiants</h3>
<form>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

{% endblock %}

