<nav class="navbar navbar-dark navbar-expand-lg bg-dark p-lg-4 align-items-lg-start">
    <div class="container-fluid flex-lg-column">
        <a class="navbar-brand" href="#">BREAD !</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-lg-column">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Afficher</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Ajouter</a>
                </li>
                <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
                </li>
                <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>