.navbar-toggler {
    border-color: #eef1f6;
    color: #eef1f6;
}

.navbar.fixed-top {
    width: 80px;
}

h2 {
    font-family: var(--bs-heading-font-sans-serif);
}

.navbar-toggler-icon {
    background-image: url(./../images/menu-bg.png);
}

a,
a:hover {
    color: var(--bs-seondary);
}