@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --bs-primary-rgb: 1, 85, 122;
    --bs-primary: rgb(var(--bs-primary-rgb));
    /*bleu*/
    --bs-secondary-rgb: 249, 99, 50;
    --bs-secondary: rgb(var(--bs-secondary-rgb));
    /*orange*/
    --bs-white-rgb: 238, 241, 246;
    --bs-white: rgb(var(--bs-white-rgb));
    /*blanc*/
    --bs-dark-rgb: 23, 28, 32;
    --bs-dark: rgb(var(--bs-dark-rgb));
    /*anthracite*/

    --bs-font-sans-serif: Open Sans, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-heading-font-sans-serif: Gluten, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}