* {
    box-sizing: border-box;
}
  
  
@keyframes rotate {
    100% {
        background-position: 15% 50%;
    }
}

body {
margin: 0;
padding: 0 24px;
background-image: url("../images/background.svg");
background-repeat: no-repeat;
background-size: cover;
font-family: "Euclid Circular A";
color: #000;
animation: rotate 6s infinite alternate linear;
}


.social .btn {
    width: 50px;
    height: 50px;
    border: none;
}
