<nav class="navbar fixed-top bg-primary">
	<div class="container-fluid">

		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
			<div class="offcanvas-header">
				<h2 class="offcanvas-title text-secondary " id="offcanvasNavbarLabel">
					<a href="/">
						⌂ Melting Quiz</a>
				</h2>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
					<h3>Règles du jeu</h3>
					<li class="nav-item">
						<h4>Jeu N°1 : 15 Questions</h4>
						<p>Dans le thème de ton choix, tu devras répondre à 15 questions et obtenir le plus de bonnes réponses
						possibles. Attention tu es également chronométré ! &#128521;</p>
					</li>
					<li class="nav-item">
						<h4>Jeu N°2 : Time Attack</h4>
						<p>Dans le thème de ton choix, tu devras répondre au plus grand nombre de questions possible en 60 secondes !</p>
					</li>
					<li class="nav-item">
						<a class="btn bg-primary text-white btn-sm bottom mt-5" href="/rank">Visualise le classement général</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
