<nav class="navbar fixed-top bg-primary">
	<div class="container-fluid">

		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
			<div class="offcanvas-header">
				<h2 class="offcanvas-title text-secondary " id="offcanvasNavbarLabel">
					<a href="/">
						⌂ Melting Quiz</a>
				</h2>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
					<li class="nav-item">
						<h3>Règles du jeu</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam molestias reiciendis, 
																																																																																																																																					                        suscipit repudiandae ipsum nulla accusamus perspiciatis dolorum deserunt pariatur aliquam 
																																																																																																																																					                        corrupti vero doloribus, obcaecati fugiat harum hic non ipsa!</p>

					</li>
					<li class="nav-item">
						<a class="btn bg-primary text-white btn-sm bottom mt-5" href="/rank">Visualise le classement général</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
