<footer class="small p-1 text-white bg-secondary mt-auto text-center">
	<p class="m-0">Copyright &copy {{"now"|date("Y")}} <a href="admin/signup"><i class="fa-solid fa-bolt"></i></a> PHPower <a href="admin/signin"><i class="fa-solid fa-bolt"></i></a></p>
</footer>
